body{
    background-color:black;
    color: gainsboro;
}
h1{
    text-decoration: inherit;
    text-align: center;
    color: rgb(205, 233, 205);
}
button{
    border-radius: 10px;
}
.container{
    border-radius: 30px;
    border-style: groove;
    padding: 10px;
    background-color: rgb(21, 38, 54);
}
nav{
    text-align: right;
}
#footer {
    background-color:steelblue;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;    
}
